.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app__title {
    text-align: center;
    font-size: 50px;
    padding: 5px;
}

.explanation {
    flex: 1;
    flex-basis: 300px;
}

.map {
    flex: 2;
    flex-basis: 300px;
    padding: 10px;
    background-color: gainsboro;
}
