.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    gap: 2rem;
    background-color: wheat;
}

.game__fight {
    min-height: 400px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.game__map {
    min-height: 40vh;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}