.game {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 10vw;
    gap: 10px;
}

.game__fight {
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 540px;
    width: 100%;
    display: flex;
    background-color: white;
}

.game__history {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 15px;
    position: sticky;
    top: 5vh;
    align-self: flex-start;
}

.game__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
    max-height: 80vh;
}

.game__badge {
    font-size: 12px;
    margin-left: 5px;
}