.AnimalHistory {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    max-height: 80vh;
}

.AnimalHistory__name {
    flex: 1;
    padding: 0 10px;
    font-size: 13px;
}

.AnimalHistory__img {
    --img-size: 40px;
    height: var(--img-size);
    width: var(--img-size);
    border-radius: 50px;
    object-fit: cover;
}