@keyframes smooth-apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes collapse {
    from {
        height: 0;
        overflow: hidden;
        flex: none;
    }
    to {
        height: 100%;
    }
}

@keyframes move_eye {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        transform: translateY(-200px) translateX(100px);
    }
}